/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*========== css reset END ==========*/

img{
    max-width: 100%;
    height: auto;
}
*,*::before,*::after{
    box-sizing: border-box;
  }
/*========== add reset END ==========*/

body{
    font-family: "PingFang TC",sans-serif;
}
a{
    display: block;
    text-decoration: none;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.header{    
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
}
.top-menu{
    width: 320px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.top-menu li{
    width: 100px;
}
.top-menu li a{
    color:#3F5D45;  
}
.top-menu li a:hover{
    background: #3F5D45;
    color: #FFF;    
}
.main{
    display: flex; 
    justify-content: space-between;
}
.left-menu{
    width: 300px;
    font-size: 24px;
    font-weight: bold;
}
.left-menu li{
    height: 65px;
    line-height: 65px;
    text-align: center;  
    border: 1px solid #EAF0ED;
    margin-bottom: -1px;  
}   
.left-menu li a{
    color:#3F5D45;
}
.left-menu li a:hover{
    background: #EAF0ED;   
}    
.left-menu .title{
    background: #3F5D45;
    color:#FFF;
}
.product{
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 300px; 
    position: relative;
}
.card img{    
    display: block;
}
.tag{
    position: absolute;
    width: 36px;
    height: 106px;
    background: #3F5D45;
    top: 0;
    left: 20px;
    color:#FFF;
    writing-mode: vertical-lr;
    padding: 10px;
    letter-spacing: 5px;
    font-size: 16px;   
}
.icon{
    position: absolute;
    right: 22px;
    top: 19px;
}
.btn{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}
.btn li{
    width: 173px;
    height: 56px;
    line-height: 56px;  
    border: 1px solid #EAF0ED;
    margin-bottom: -1px;
}
.btn li:nth-child(2){
    width: 127px;
    font-weight: bold;
}
.btn li a{
    color:#3F5D45;    
}
.buy{
    text-align: center;
    height: 65px;
    line-height: 65px;  
    background:  #EAF0ED;
    border: 1px solid #EAF0ED;
    font-weight: bold;
    font-size: 24px;
}
.buy a{
    color:#3F5D45;
}
.page{
    display: flex;
	justify-content: flex-end;
    text-align: center;    
    font-size: 20px;
}
.page li{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #EAF0ED;
    margin-right: -1px;
}
.page li a{
    color:#3F5D45;
}
.page li a:hover{
    background: #3F5D45;
    color:#FFF;
}
.mt-1{
    margin-top: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mt-4{
    margin-top: 40px;
}
.mb-4{
    margin-bottom: 40px;
}
.mt-6{
    margin-top: 60px;
}