/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
	font-family: 'Noto Sans TC', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css Reset     ===============END====================*/

img{
	max-width: 100%;
	height: auto;
}
*,*::before,*::after{
  box-sizing: border-box;
}
/*Add css Reset ===============END====================*/

.container{
	max-width: 1000px;
	margin: 0 auto;
}
.header{
	/*max-width: 1000px;
	margin: 0 auto;*/
	display: flex;
	justify-content: space-between;	
}
/*.main-container{
	max-width: 1000px;
	margin: 0 auto;	
}*/
/*.footer-container{
	max-width: 1000px;
	margin: 0 auto;	
}*/
.menu{
	width: 480px;
	display:flex;
	justify-content: space-between;	
	/*align-items: flex-start;*/		
}
.menu li a{
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;	
	background: #3399FF;
	color:white;
	text-align: center;
	text-decoration: none;
}
.menu li a:hover{
	background: orange;
	color:white;
}
.main{
	display: flex;
	justify-content: space-between;	
}
.left{
	width: 70%;
	border: 1px solid black;
	padding: 15px;
}
.right{
	width: 30%;
	border: 1px solid black;
	padding: 10px;
}
.title{	
	font-weight: bold;
}
.footer{
	/*margin: 0 auto;*/
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 14px;	
}
.mt-1{
	margin-top: 15px;
}
.mr-1{
	margin-right: 15px;
}
.mb-1{
	margin-bottom: 15px;
}
.mb-2{
	margin-bottom: 30px;
}

/* ===============END================*/


/* Break Point ??  613px  */
@media(max-width:768px){
	.header,.main{
		display: flex;
		flex-direction: column;	
	}	
	.menu,.logo,.left,.right{
		width: 95%;
		margin: 0 auto;	
	}
	.menu{
		width: 80%;
		flex-wrap: wrap;
	}
	.menu li {
		width: 50%;	
		margin:0 auto 10px;		
	}
	.menu li a{	
		width: 100%;		
	}
	.right{
		margin-top: 15px;
		height: auto;
	}
	img{
		display: block;
		margin: 0 auto;
	}
}