/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*========== css reset END ==========*/

img{
    max-width: 100%;
    /* height: auto; */
}
*,*::before,*::after{
    box-sizing: border-box;
}
/*========== add reset END ==========*/
body{   
    font-family: "Noto Sans",Roboto,"PingFang TC", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;   
}
h1{
    font-size: 80px;
    border-bottom:2px solid #000000;
    padding-bottom: 16px;    
}
h2{
    border-bottom: 1px solid #000000;
    padding: 8px 0;   
    font-size: 32px; 
    font-weight: bold;
}
.photo{
    margin: 24px 0;
}
li{    
    margin-bottom: 24px;
}
.subtitle{
     font-size: 24px;
      color:#A00404;   
}
ul{
    font-size: 24px;
    line-height: 36px;
    color:#000; 
}
.dark{
    background: #415165;
    text-align: center;
    color:#FFF;
    padding-bottom: 36px;
}
.dark h2{
    border-bottom:1px solid #FFF;
    max-width: 996px;
    margin: 0 auto;
    padding: 24px 0 8px;
}
.dark h2 span{
    color:#FFF;   
}
p{
    font-size: 20px;
    line-height:30px;  
}
.skill-item{
    color:#FFF; 
    border-left:1px solid #96A9C4;     
    margin: 0 auto; 
    margin-top: 40px; 
    width: 230px;
    text-align: left;
    padding-left: 24px;
}
.experience-item{
    border-left: 1px solid #96A9C4;   
    margin-top: 32px; 
    margin-left: 24px;
    padding-left: 24px;
}
.skill-item li,.contact-item li{
    line-height: 34px;    
}
.contact-item{
    color:#FFF; 
    text-align: center;
    margin-top: 32px;     
}
.experience-item img{ 
    display: block;     
    margin: 8px 0;
}
.contact-item img{       
    margin-right: 24px;
}

.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-9{
    margin-bottom: 72px;
}